@font-face {
    font-family: 'Algerian';
    src: url('files/Algerian\ Regular.ttf') format("truetype");
    }
    * {
    font-family: 'AlgerianRegular';
    font-size: 18px;
    }

html, body{
    margin: 0; 
    overflow: hidden;
    font-family: 'Algerian';
}

.supercontainer{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 12% 1fr;
    grid-template-areas: 
    "header"
    "container";
}

.final{
    grid-area: header; 
}

.container{
    display: grid;
    grid-template-areas: 
    "mimica telepatia"
    "dibuja imita";

    box-shadow: 3px 2px 2px  #000000;
    background-color: black;
    border: 2px solid black;
    gap:3px;
}

.container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.white{
    padding: 2px;
    line-height: 0px;   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.989);
    border: 2px black solid;
    border-radius: 10px;
}

.white > h1{
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
}

#mimica{
    background: url(files/fondoMimica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 98%;
    padding: 3%; 
    grid-area: mimica; 
}

#telepatia{
    background: url(files/fondoTelepatia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 98%;
    padding: 3%;
    grid-area: telepatia; 

}

#dibuja{
    background: url(files/fondoDibuja.jpg);
    background-repeat: repeat;
    background-size: 95%;
    padding: 3%; 
    opacity: 98%;
    grid-area: dibuja; 
}

#imita{
    background: url(files/fondoImita.jpg);
    background-repeat: repeat;
    background-size: 95%;
    opacity: 98%;
    padding: 3%; 
    grid-area: imita; 
}

.mimica{
    background:url(files/azulejosMimica.jpg);  
}

.tararear{
    background:url(files/azulejosTararea.jpg);
}

.dibujar{
    background-image: url(files/azulejosDibuja.jpg); 
    
}

.telepatia{
    background:url(files/azulejosTelepatia.jpg);     
}

#imita > h1{
    line-height: 35px;
}

.white > h2{
    font-family: 'Gamja Flower', cursive;
    font-size: xx-large;
    color:grey;
}

#imita > h2{
    line-height: 20px;
}

.final{
    display: flex; 
    text-align: center;
    justify-content: center;
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .supercontainer {
      grid-template-rows: 1% 1fr;
  
    }
}











